<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>
<body>
    <h1 class="text-center mt-5 mb-5 text-primary ">ALMACEN BEBIDAS</h1>
    <div class="container">
        <div class="card shadow">
            <div class="card-body">
                <form action="/bebidas" method="post">
                    <div class="row mb-3">
                        <div class="col">
                            <label>Nombre de la bebida</label>
                            <input type="text" class="form-control mb-3" name="nombre">
                        </div>
                        <div class="col">
                            <button class="btn btn-primary mb-3 mt-4" type="submit">SAVE</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-primary mb-3 mt-4" type="submit" href="index.html">ATRAS</button>
                        </div>
                    </div>
                </form>

                <!-- Tabla -->
                <table class="table table-bordered">
                        <thead>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </thead>
                    <tbody>
                        {% for d in data %}
                            <tr>
                                <td>{{d.id}}</td>
                                <td>{{d.nombre}}</td>
                                <td><button class="btn btn-primary btn-sm" id="btn-edit{{d.id}}" data-bs-toggle="modal" data-bs-target="#modal{{d.id}}">EDITAR</button></td>
                                <td> <a href="{{url_for('delete', id=d.id)}}" class="btn btn-danger btn-sm">ELIMINAR</a></td>
                            </tr>
                            <!-- MODAL-->
                            <div class="modal fade" id="modal{{d.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h1 class="modal-title fs-5" id="exampleModalLabel">{{d.nombre}}</h1>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/edit/{{d.id}}" method="post">
                                            <label>Nombre de la bebida</label>
                                            <input type="text" class="form-control mb-3" name="nombre" value="{{d.nombre}}">
                                            <label>Precio</label>
                                            <input type="text" class="form-control mb-3" name="precio" value="{{d.precio}}">
                                            <label>Id clasificación</label>
                                            <input type="text" class="form-control mb-3" name="clasificacion" value="{{d.id_clasificacion}}">
                                            <label>Id Marca</label>
                                            <input type="text" class="form-control mb-3" name="marca" value="{{d.id_marca}}">
                                    </div>
                                    <div class="modal-footer">
                                      <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                    </form>
                                  </div>
                                </div>





                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>